/__pycache__/
/.idea/
/.ipynb_checkpoints/
/.vscode/
anather.py
arduino-ide_nightly-20230316_Linux_64bit.AppImage
code.c
Fabulous Waasa.pdf
kill.py
opened_apps.txt
pitches.h
project woorking
test.py
TestSpeech.py
text.py
voices.txt